*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Garamond', serif; */
}

body{
    background-color: #F5F2F0;
    padding-bottom: 5vw;
}

h1, h2, h3, p {
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    color: #000;
}

.description{
    padding-top: 10vw;
    padding-bottom: 4vw;
    width: 90%;
    margin: 0 auto;
}

.description h1{
    font-size: 8vw;
}

.size{
    padding-top: 5vw;
}

.element{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: #EAE6E3;
    border-radius: 3vw;
    padding: 1.5vw 3vw 2vw 3vw;
    margin-bottom: 2vw;
}

.element div:first-child{
    display: flex;
    align-items: center;
    gap: 3vw;
}

.element div:first-child img{
    width: 7vw;
}

.element div:first-child h3{
    font-size: 4vw;
    font-weight: 400;
}

.element div:last-child{
    display: flex;
    align-items: center;
    gap: 1.4vw;
}

.element div:last-child img{
    width: 3.3vw;
}

.element div:last-child p{
    color: gray;
    font-size: 4vw;
    font-weight: 400;
}

.thickness-option{
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 11vw;
}

.thickness-option div{
    width: 30%;
}

.thickness-option div img{
    width: 100%;
}

.thickness-option div p{
    font-size: 4vw;
    text-align: center;
}

.message-setting{
    font-size: 3vw;
    text-align: center;
    color: #7A7A7A;
    margin-bottom: 2vw;

}

.next{
    background-color: #AEB0AF4D;
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 2vw 3vw 3vw 3vw;
    margin: 0 auto;
    text-decoration: none;
    border-radius: 3.3vw;
}

.next p{
    color: #7A7A7A;
    font-size: 7vw;
}

#height:hover{
    cursor: pointer;
}

.editing{
    width: 100%;
    position: fixed;
    bottom: 0;
    padding-top: 4vw;
    padding-bottom: 4vw;
    background-color: #F5F2F0;
    box-shadow: 0px 60px 100px 10px;
    font-size: 100px;
    display: none;
    align-items: center;
    flex-direction: column;
    animation-name: panel-move;
    animation-iteration-count: 1;
    animation-duration: 0.7s;
    animation-direction: alternate;
    animation-timing-function: ease;
    animation-fill-mode: none;
}

@keyframes panel-move{
    0%{
        bottom: -130vw;
    }
    
    100%{
        bottom: 0;
    }
}

@keyframes panel-away{
    0%{
        bottom: 0;
    }
    
    100%{
        bottom: -130vw;
    }
}

.cancel-action{
    position: fixed;
    width: 6.7vw;
    height: 6.7vw;
    right: 5vw;
    background-color: #E3DEDB;
    border-radius: 50%;
    border: none;
}

.cancel-action img{
    width: 50%;
}

.editing h2{
    text-align: center;
    font-size: 4vw;
    margin-bottom: 4vw;
}

.size-scale{
    background-color: #E3DEDB;
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 0.4vw 0.4vw 0.4vw 0.4vw;
    border-radius: 1vw;
}

.cm-size,
.ftin-size{
    width: 48%;
    height: 5vw;
    font-size: 2.3vw;
    border-radius: 1vw;
    border: none;
}

.cm-size{
    background-color: white;
}

.ftin-size{
    background-color: #E3DEDB;
}

.editing-panel{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.editing-panel-ftin{
    display: none;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}

.ftinminus,
.ftinplus{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 5.45vw;
    margin-bottom: 5.45vw;
}

.ftinminus button,
.ftinplus button{
    width: 100%;
    background-color: #F5F2F0;
    color: #7A7A7A;
    border: none;
    font-size: 8vw;
}

#ftinpanel{
    width: 90%;
    display: flex;
    justify-content: space-around;
}

#ftinpanel p{
    width: 15%;
    font-size: 5vw;
    text-align: center;
}

.editing-arrow{
    font-size: 14vw;
    width: 60%;
    color: #7A7A7A;
    background-color: #F5F2F0;
    border: none;
}

.editing-value{
    font-size: 5vw;
    font-weight: 150;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.editing-save{
    font-size: 5vw;
    width: 90%;
    padding-top: 3vw;
    padding-bottom: 3vw;
    background-color: #E3DEDB;
    border-radius: 3vw;
    border: 0.2vw solid black;
}