*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Garamond', serif;
}

body{
    background-color: #F5F2F0;
    padding-top: 5vw;
    padding-bottom: 5vw;
}

h1, h2, h3 {
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    color: #000;
}

.decorone{
    display: grid;
    grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px;
    grid-template-rows: 1000px;
    gap: 20px;
}

.decorone span{
    background-color: #EAE6E3;
}

.guy{
    width: 90%;
    margin: 0 auto;
    display: block;
}

.onesix h1{
    font-size: 30vw;
    text-align: center;
}

.onesix h2{
    font-size: 7vw;
    text-align: center;
}

.onesix p{
    font-size: 4.7vw;
    text-align: center;
    color: gray;
}

.onesix{
    padding-bottom: 8vw;
    padding-top: 4vw;
}

.next{
    background-color: black;
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 2vw 3vw 3vw 3vw;
    margin: 0 auto;
    text-decoration: none;
    border-radius: 3.3vw;
}

.next p{
    color: white;
    font-size: 7vw;
}